.select {
    font-size: 12px;
    color: #333333;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 4px 5px;
    margin: 2px;
    appearance: none; /* Убираем стандартную стрелку у селекта */
    -webkit-appearance: none; /* Убираем стандартную стрелку у селекта в Safari */
    -moz-appearance: none; /* Убираем стандартную стрелку у селекта в Firefox */
}

/* Стили для стрелки у селекта */
.select::after {
    content: "\25BC";
    color: #999999;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

/* Стили для опций в списке выбора */
.select option {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    background-color: #ffffff;
}
